$color-header-footer: #19191a;
$naranja: #FF5733;
$naranja-hover: #ff3c00;
$color-verde: #4CAF50;
$blanco: #fff;
$color-parrafo:#666;
$color-h3: #333;
$color-borde1: #ccc;
$color-borde2: #7a7a7a;
$color-nav:#373739;