@import 'colores';
@import 'mixin';
@import 'medidas';

* {
    margin: 0;
    padding: 0;
    font-family: Proxima Nova,-apple-system,Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;
}
body{
    background-color: $blanco;
}

header {
    display: flex;
    background-color: $color-header-footer;   
    align-items: center;
    .logo {
        img {
            width: 120px;
            height: 100px;
        }
    }
    .search-bar {
        margin: auto;
        input[type="text"] {
        width: 500px;
        padding: 5px;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
        }
        button {
        background-color: $naranja;
        color: #fff;
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        }
        cursor: pointer;
        transition: background-color 0.3s ease;
        button:hover {
        background-color: $naranja-hover;
        }
    
    }
}

nav {
    background-color: $naranja;
    color: $blanco;
}
  
.max-height {
    max-height: 500px;
}
  
.subtitulo {
    font-size: 30px;
    font-weight: 300px;
    margin: 0 0 0 8px;
    display: flex;
    justify-content: center;
    color:#FF5733;
    text-decoration: underline;
}
   /* Productos */
.productos {
    max-width: 1200px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    .producto {
        border: 2px solid  $color-borde1;
        text-align: center;
        border-radius: 3px;
        &:hover {
            box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.3);
            transition: box-shadow 0.3s ease;
        }
        img {
            max-width: $w-100;
            border-bottom: 1px solid  $color-borde1;
        }
        h3{
            max-height: 100px;
            min-height: 100px;
            margin: 10px 0;
            overflow: hidden;
        }
        p {
            margin: 0;
        }
        button {
            display: inline-block;
            padding: 8px 16px;
            background-color: $naranja;
            color: $blanco;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease;
            &:hover {
                background-color: $naranja-hover;
            }
        }
    } 
}
.publicidad {
    @include flex-row-nowrap-center;
    .item-publicidad{
        margin: 10px;
        width: 384px ;
        max-height: 240px;
        a {
            img {
                width: $w-100;
                height: $h-100;
                border-radius: 10px;
            }
        } 
    }
}


.footer {
    background-color: $naranja;
    padding: 20px 0;
    text-align: center;
    .container-footer {
        width: 100%;
        max-width: 960px;
        margin: 0 auto;
        padding: 20px;
        .social-icons {
            margin-top: 20px;
            .social-icon {
                text-decoration: none;
                display: inline;
                padding: 1px;
                img {
                height: 40px;
                width: 40px;
                }
            }
        }
    }
}
 
.container-preguntas {
    padding: 20px;
    h2 {
      color: $color-h3;
      margin-bottom: 20px;
    }
    .pregunta {
        margin-bottom: 20px;
        border: 1px solid $color-borde1;
        padding: 10px;
        border-radius: 5px;
        transition: transform 0.3s ease;
        &:hover {
        transform: scale(1.02);
        }
        h3 {
            color: $color-h3;
            margin-top: 0;
        }
    }
}
  
.banner-principal {
    display: flex;
    justify-content: center;
    img {
        width: $w-100;
        height: $h-100;
    }
}
.banner{
    @include flex-row-nowrap-center;
    flex-wrap: nowrap;
    justify-content: center;
    .item-banner{
        margin: 10px;
        img {
            width: $w-100;
            height: $h-100;
        }
    }
}

.Formulario-container {
    max-width: 400px;
    margin: 170px auto;
    background-color: $blanco;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    h2 {
      text-align: center;
    }
    form {
        .form-group {
            margin-bottom: 40px;
            label {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;  
            }
            input {
                width: $w-100;
                padding: 10px;
                font-size: 16px;
                border-radius: 4px;
                border: 1px solid $color-borde1;
                &[type="submit"] {
                    background-color: $naranja;
                    color: $blanco;
                    cursor: pointer;
                    transition: transform 0.3s ease;
                    &:hover {
                    transform: scale(1.03);
                    }
                }
                &[type="button"] {
                    transition: transform 0.3s ease;
                    &:hover {
                        transform: scale(1.03);
                    }
                } 
            }
        }
    }    
}

#carouselExampleControls {
    margin: 0px 70px 20px 70px;
}

.ver-mas {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    button {
        padding: 2px 10px;
        border-radius: 5px;
    }
}