@import 'estructuras';
@import 'medidas';

@media (max-width: 768px) {
  .productos {
    grid-template-columns: 1fr 1fr;
  }
  .oferta {
    display: block;
  }
  .search-bar{
    input[type="text"] {
      max-width: 205px;
    }
  }
  header {  
    .logo {
      img {
        width: 95px;
        height: 90px;
      }
    }
  }
  #carouselExampleControls {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .productos {
    grid-template-columns: 1fr;
    width: 300px;
    img {
    width: 100px;
    }
  }
  .oferta {
    flex: 1;
    display: block;
    img {
    height: $h-100;
    width: $w-100;
    }

  }
  .Formulario-container{
    margin: 0;
    margin-bottom: 200px;
  }

  header {  
    .logo {
      img {
        width: 70px;
        height: 60px;
      }
    }
  }
  .search-bar{
    input[type="text"] {
      max-width: 125px;
    }
  }
}
